body {
    line-height: 1.75;
    font-size: 16px;
    font-family: "Raleway";
    background-color: #faf9f6;
}

/* contrasting font sizes */
h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

h1,
h2,
h3 {
    margin: 0;
}

p {
    margin-top: 0;
    margin-bottom: 1.125em;
}

/* set fixed width and center in middle */
.container-top {
    width: 800px;
    margin: 0px auto;
}

.container-body {
    width: 600px;
    margin: 20px auto;
}

.container-body img {
    max-width: 100%;
}

.container-bottom {
    width: 800px;
    margin: 0px auto;
    font-size: 10px;
}

.subheading {
    font-weight: lighter;
    color: gray;
}

.unstyled-link {
    text-decoration: none;
    color: inherit;
}

.blog-img {
    border: 1px solid black;
    padding: 5px;
}